<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API List | Dushanbe</title>
</head>

<body>
    <!---- DRF API Root ---->
    <h1 style="text-align: center; color: orangered">Dushanbe APIs</h1>
    <a href="https://dushanbe-backend-apis.herokuapp.com/api/" target="_blank"><center>click to view DRF API Root</center></a>
    <br>
    <hr>

    <!---- Auth Module ---->
    <h2>Auth Module</h2>
    <hr>

        <!---- Token Info ---->
        <li>Token Information</li>
            <p style="background-color: yellow">
                Add an API Header Token with All the Endpoints Except 'Login'
                (token will generate automatically with login response)
            </p>
            <pre>
                Api Token:
                        {
                            "Authorization": Token 21278526a33c2da7ef1407b0fa1e71da748b6a4b (<span style="background-color: yellow">token may differ</span>)
                        }
            </pre>
        <hr>

        <!---- Login ---->
        <p>1. Login (POST): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/login/</a></p>
            <pre>
                Api Body:
                        {
                            "username": "backend@email.com",    (<span style="background-color: yellow">username treat as email</span>)
                            "password": "backend"
                        }
            </pre>
        <hr>

        <!---- Token List ---->
        <p>2. Token List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/tokens/"
               target="_blank">https://dushanbe-backend-apis.herokuapp.com/api/tokens/</a>
        </p>
        <hr>

        <!---- Logout ---->
        <p>3. Logout (GET):
            <a href="">https://dushanbe-backend-apis.herokuapp.com/api/tokens/</a>
        </p>
        <hr>

        <!---- Group List ---->
        <p>4. Group List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/groups/"
               target="_blank">https://jahidmsk.pythonanywhere.com/api/groups/</a>
        </p>
        <hr>

        <!---- Permission List ---->
        <p>5. Permission List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/permissions/"
               target="_blank">https://jahidmsk.pythonanywhere.com/api/permissions/</a>
        </p>
        <hr>


    <!---- Work Submissions Module ---->
    <h2>Work Submissions Module</h2>
    <hr>

        <!---- Bill ---->
        <li><b>Bill</b></li>
        <br>
        <hr>

        <p>6. Bill Create (POST): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/bills/</a></p>
            <pre>
                Api Body:
                        {
                            "bill_name": "Bill No. 1. Section between TIIK1 - chamber 5/K1 - TIIK2 (length 575m)"
                        }
            </pre>
        <hr>

        <p>7. Bill List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/bills/"
               target="_blank">https://jahidmsk.pythonanywhere.com/api/bills/</a>
        </p>
        <hr>

        <p>8. Bill Retrieve (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/bills/1/" target="_blank">https://jahidmsk.pythonanywhere.com/api/bills/1/</a>
        </p>
        <hr>

        <p>9. Bill Update (PUT): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/bills/</a></p>
            <pre>
                Api Body:
                        {
                            "bill_name": "Bill No. 2. The area of crossing the airport territory (from 5/K1 up to 6a/K1 + 56)"
                        }
            </pre>
        <hr>

        <p>10. Bill Delete (DELETE):<a href="#">https://dushanbe-backend-apis.herokuapp.com/api/bills/1/</a></p>
        <hr>

        <p>11. Bill Filter (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/bills/?id=1" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/bills/?id=1
            </a>
        </p>
        <hr>

        <!---- Type ---->
        <li><b>Type</b></li>
        <br>
        <hr>

        <p>12. Type Create (POST): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/types/</a></p>
            <pre>
                Api Body:
                        {
                            "bill": 1,                      <span style="background-color: yellow">(relational field with 'Bill' table)</span>
                            "type_name": "Earth works"
                        }
            </pre>
        <hr>

        <p>13. Type List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/types/"
               target="_blank">https://dushanbe-backend-apis.herokuapp.com/api/types/</a>
        </p>
        <hr>

        <p>14. Type Retrieve (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/types/1/" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/types/1/
            </a>
        </p>
        <hr>

        <p>15. Type Update (PUT): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/types/</a></p>
            <pre>
                Api Body:
                        {
                            "bill": 2,
                            "type_name": "Manholes and chambers"
                        }
            </pre>
        <hr>

        <p>16. Type Delete (DELETE):<a href="#">https://dushanbe-backend-apis.herokuapp.com/api/types/1/</a></p>
        <hr>

        <p>17. Type Filter (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/types/?id=1&bill=1" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/types/?id=1&bill=1
            </a>
        </p>
        <hr>

        <!---- Material ---->
        <li><b>Material</b></li>
        <br>
        <hr>

        <p>18. Material Create (POST): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/materials/</a></p>
            <pre>
                Api Body:
                        {
                            "type": 1,                                                      <span style="background-color: yellow">(relational field with 'Type' table)</span>
                            "material_name": "Marking of the pipeline route with paint",
                            "serial_no": 10,
                            "unit": "m",
                            "quantity": 575.00
                        }
            </pre>
        <hr>

        <p>19. Material List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/materials/" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/materials/
            </a>
        </p>
        <hr>

        <p>20. Material Retrieve (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/materials/1/" target="_blank">
               https://dushanbe-backend-apis.herokuapp.com/api/materials/1/
            </a>
        </p>
        <hr>

        <p>21. Material Update (PUT): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/materials/</a></p>
            <pre>
                Api Body:
                        {
                            "type": 2,
                            "material_name": "Soil transportation at a distance of 6 km, for temporary storage",
                            "serial_no": 8,
                            "unit": "t",
                            "quantity": 17365.00
                        }
            </pre>
        <hr>

        <p>22. Material Delete (DELETE):<a href="#">https://dushanbe-backend-apis.herokuapp.com/api/materials/1/</a></p>
        <hr>

        <p>23. Material Filter (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/materials/?id=1&type=1&serial_no=42&unit=nr&quantity=63.00" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/materials/?id=1&type=1&serial_no=42&unit=nr&quantity=63.00
            </a>
        </p>
        <hr>

        <!---- Work Submissions ---->
        <li><b>Work Submissions</b></li>
        <br>
        <hr>

        <p>24. Work Submissions Create (POST): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/</a>    <span style="background-color: greenyellow"> (Database + SharePoint)</span></p>
            <pre>
                Api Body:
                        {
                            "bill": 1,                          <span style="background-color: yellow">(relational field with 'Bill' table)</span>
                            "type": 2,                          <span style="background-color: yellow">(relational field with 'Type' table)</span>
                            "material": 2,                      <span style="background-color: yellow">(relational field with 'Material' table)</span>
                            "submission_date": "2021-02-01",
                            "work_progress": 55.34
                        }
            </pre>
        <hr>

        <p>25. Work Submissions List (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/
            </a>
        </p>
        <hr>

        <p>26. Work Submissions Retrieve (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/1/" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/1/
            </a>
        </p>
        <hr>

        <p>27. Work Submissions Update (PUT): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/</a></p>
            <pre>
                Api Body:
                        {
                            "bill": 2,
                            "type": 3,
                            "material": 2,
                            "submission_date": "2021-02-10",
                            "work_progress": 60.66
                        }
            </pre>
        <hr>

        <p>28. Work Submissions Delete (DELETE): <a href="#">https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/1/</a></p>
        <hr>

        <p>29. Work Submissions Filter (GET): <br>
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/?id=2&bill=2&type=2&material=2&serial_no=97&unit=kits&quantity=3.69&submission_date=1998-09-22&work_progress=79&created_by=3" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/work-submissions/?id=2&bill=2&type=2&material=2&serial_no=97&unit=kits&quantity=3.69&submission_date=1998-09-22&work_progress=79&created_by=3
            </a>
        </p>
        <hr>

        <!---- SharePoint Data ---->
        <li><b>SharePoint Data</b></li>
        <br>
        <hr>

        <p>30. Work Submissions List From SharePoint DB (GET):
            <a href="https://dushanbe-backend-apis.herokuapp.com/api/sharepoint/" target="_blank">
                https://dushanbe-backend-apis.herokuapp.com/api/sharepoint/
            </a>
        </p>
        <hr>

</body>

</html>

