<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dushanbe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
    <h1>Dushanbe Entry</h1>
    <hr>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Bill Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Bill">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Topics</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Materials</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Item Serial Number</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Unit</label>
                <input type="text" class="form-control" id="inputCity">
            </div>

            <div class="form-group col-md-4">
                <label for="inputState">Quantity</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="inputZip">Progress</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>

        {#        <div class="form-group">#}
        {#            <div class="form-check">#}
        {#                <input class="form-check-input" type="checkbox" id="gridCheck">#}
        {#                <label class="form-check-label" for="gridCheck">#}
        {#                    Check me out#}
        {#                </label>#}
        {#            </div>#}
        {#        </div>#}
        <button type="submit" class="btn btn-lg btn-success">SUBMIT</button>
    </form>
</div>


{#    <form action="http://0.0.0.0:8000/api/bills/" method="POST">#}
{#        <div>#}
{#            <label for="say">Bill Name</label><br><br>#}
{#            <input name="say" id="say" value="Hi">#}
{#        </div>#}
{#        <br>#}
{##}
{#        <div>#}
{#            <label for="to">Topics</label><br><br>#}
{#            <input name="to" id="to" value="Mom">#}
{#        </div>#}
{#        <br>#}
{##}
{#        <div>#}
{#            <label for="to">Materials</label><br><br>#}
{#            <input name="to" id="to" value="Mom">#}
{#        </div>#}
{#        <br>#}
{##}
{#        <div>#}
{#            <label for="to">Work Progress</label><br><br>#}
{#            <input name="to" id="to" value="Mom">#}
{#        </div>#}
{#        <br>#}
{##}
{#        <div>#}
{#            <button type="submit">SUBMIT</button>#}
{#        </div>#}
{#    </form>#}

</body>
</html>

