<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API List | Dushanbe | Pfeiffer</title>
</head>

<body>
    <!---- DRF API Root ---->
    <h2 style="text-align: center; color: orangered">Dushanbe APIs</h2>
    <a href="http://jahidmsk.pythonanywhere.com/api/" target="_blank"><center>click to view DRF API Root</center></a>
    <br>
    <hr>

    {#<li><a href="http://127.0.0.1:8000/api/" target="_blank">click to view DRF API Root</a></li>#}
    {#<li><a href="http://0.0.0.0:8000/api/" target="_blank">click to view DRF API Root</a></li>#}
{#    <li><a href="http://galib04.pythonanywhere.com/api/" target="_blank">click to view DRF API Root</a></li>#}
{#    <br>#}
{#    <hr>#}

    {#    <!---- User Token Info ---->#}
    {#    <li><b>User Token Information</b></li>#}
    {##}
    {#    <pre>#}
    {#        Api Token:#}
    {#                {#}
    {#                    "Authorization": Token 21278526a33c2da7ef1407b0fa1e71da748b6a4b (<span style="background-color: yellow">token may differ</span>)#}
    {#                }#}
    {#    </pre>#}
    {#    <hr>#}

{#    <!---- Dushanbe Module ---->#}
{#    <h3 style="text-align: center; color: orangered">Dushanbe Module</h3>#}
{#    <hr>#}

    <!---- Bill ---->
    <li><b>Bill</b></li>
    <br>
    <hr>

    <p>1. Bill Create (POST): <a href="#">http://jahidmsk.pythonanywhere.com/api/bills/</a></p>
    <pre>
                Api Body:
                        {
                            "bill_name": "Bill No. 1. Section between TIIK1 - chamber 5/K1 - TIIK2 (length 575m)"
                        }
            </pre>
    <hr>

    <p>2. Bill List (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/bills/"
           target="_blank">http://jahidmsk.pythonanywhere.com/api/bills/</a>
    </p>
    <hr>

    <p>3. Bill Retrieve (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/bills/1/" target="_blank">http://jahidmsk.pythonanywhere.com/api/bills/1/</a>
    </p>
    <hr>

    <p>4. Bill Update (PUT): <a href="#">http://jahidmsk.pythonanywhere.com/api/bills/</a></p>
    <pre>
                Api Body:
                        {
                            "bill_name": "Bill No. 2. The area of crossing the airport territory (from 5/K1 up to 6a/K1 + 56)"
                        }
            </pre>
    <hr>

    <p>5. Bill Delete (DELETE):<a href="#">http://jahidmsk.pythonanywhere.com/api/bills/1/</a></p>
    <hr>

    <!---- Type ---->
    <li><b>Type</b></li>
    <br>
    <hr>

    <p>6. Type Create (POST): <a href="#">http://jahidmsk.pythonanywhere.com/api/types/</a></p>
    <pre>
                Api Body:
                        {
                            "bill": 1,                      <span style="background-color: yellow">(relational field with 'Bill' table)</span>
                            "type_name": "Earth works"
                        }
            </pre>
    <hr>

    <p>7. Type List (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/types/"
           target="_blank">http://jahidmsk.pythonanywhere.com/api/types/</a>
    </p>
    <hr>

    <p>8. Type Retrieve (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/types/1/" target="_blank">http://jahidmsk.pythonanywhere.com/api/types/1/</a>
    </p>
    <hr>

    <p>9. Type Update (PUT): <a href="#">http://jahidmsk.pythonanywhere.com/api/types/</a></p>
    <pre>
                Api Body:
                        {
                            "bill": 2,
                            "type_name": "Manholes and chambers"
                        }
            </pre>
    <hr>

    <p>10. Type Delete (DELETE):<a href="#">http://jahidmsk.pythonanywhere.com/api/types/1/</a></p>
    <hr>

    <p>11. Type Filter (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/types/?type_name=Edited&material=3&serial_no=3&unit=nr&quantity=2.00" target="_blank">
            http://jahidmsk.pythonanywhere.com/api/types/?type_name=Edited&material=3&serial_no=3&unit=nr&quantity=2.00
        </a>
    </p>
    <hr>

    <!---- Material ---->
    <li><b>Material</b></li>
    <br>
    <hr>

    <p>12. Material Create (POST): <a href="#">http://jahidmsk.pythonanywhere.com/api/materials/</a></p>
    <pre>
                Api Body:
                        {
                            "type": 1,                                                      <span style="background-color: yellow">(relational field with 'Type' table)</span>
                            "material_name": "Marking of the pipeline route with paint",
                            "serial_no": 10,
                            "unit": "m",
                            "quantity": 575.00
                        }
            </pre>
    <hr>

    <p>13. Material List (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/materials/" target="_blank">http://jahidmsk.pythonanywhere.com/api/materials/</a>
    </p>
    <hr>

    <p>14. Material Retrieve (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/materials/1/" target="_blank">http://jahidmsk.pythonanywhere.com/api/materials/1/</a>
    </p>
    <hr>

    <p>15. Material Update (PUT): <a href="#">http://jahidmsk.pythonanywhere.com/api/materials/</a></p>
    <pre>
                Api Body:
                        {
                            "type": 2,
                            "material_name": "Soil transportation at a distance of 6 km, for temporary storage",
                            "serial_no": 8,
                            "unit": "t",
                            "quantity": 17365.00
                        }
            </pre>
    <hr>

    <p>16. Material Delete (DELETE):<a href="#">http://jahidmsk.pythonanywhere.com/api/materials/1/</a></p>
    <hr>

    <!---- Work Submissions ---->
    <li><b>Work Submissions</b></li>
    <br>
    <hr>

    <p>17. Work Submissions Create (POST): <a href="#">http://jahidmsk.pythonanywhere.com/api/work-submissions/</a></p>
    <pre>
                Api Body:
                        {
                            "bill": 1,                          <span style="background-color: yellow">(relational field with 'Bill' table)</span>
                            "type": 2,                          <span style="background-color: yellow">(relational field with 'Type' table)</span>
                            "material": 2,                      <span style="background-color: yellow">(relational field with 'Material' table)</span>
                            "submission_date": "2021-02-01",
                            "work_progress": 10
                        }
            </pre>
    <hr>

    <p>18. Work Submissions List (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/work-submissions/" target="_blank">http://jahidmsk.pythonanywhere.com/api/work-submissions/</a>
    </p>
    <hr>

    <p>19. Work Submissions Retrieve (GET):
        <a href="http://jahidmsk.pythonanywhere.com/api/work-submissions/1/" target="_blank">http://jahidmsk.pythonanywhere.com/api/work-submissions/1/</a>
    </p>
    <hr>

    <p>20. Work Submissions Update (PUT): <a href="#">http://jahidmsk.pythonanywhere.com/api/work-submissions/</a></p>
    <pre>
                Api Body:
                        {
                            "bill": 2,
                            "type": 3,
                            "material": 2,
                            "submission_date": "2021-02-10",
                            "work_progress": 10
                        }
            </pre>
    <hr>

    <p>21. Work Submissions Delete (DELETE): <a href="#">http://jahidmsk.pythonanywhere.com/api/work-submissions/1/</a></p>
    <hr>

    <p>22. Work Submissions Filter (GET): <br>
        <a href="http://jahidmsk.pythonanywhere.com/api/work-submissions/?bill=1&type=1&serial_no=2&unit=kits&quantity=1.00&submission_date=2021-02-07&work_progress=2&created_by=1" target="_blank">
            http://jahidmsk.pythonanywhere.com/api/work-submissions/?bill=1&type=1&serial_no=2&unit=kits&quantity=1.00&submission_date=2021-02-07&work_progress=2&created_by=1
        </a>
    </p>
    <hr>

</body>

</html>

